header {
    width: 1440px;
    margin: 0 auto;
    padding: 38px 130px;
}

.nav1 {
    display: inline-block;
    vertical-align: middle;
    margin-left: 280px;
    color: #6D6D6D;
    font-size: 20px;
}

.logo {
    vertical-align: middle;
}

.active {
    margin-left: 47px;
    margin-right: 47px;
}



.button {
    background-color: #2A9D8F;
    margin-left: 253px;
    padding: 8px 19px;
    color: white;
}

.section1 {
    width: 1440px;
    margin: 0 auto;
    background-color: #C2F3EE;
    padding: 80px 130px;
}

.div1 {
    display: inline-block;
    width: 480px;
    height: 560px;
    vertical-align: top;
    margin-left: 96px;
}

.text {
    margin-top: 33px;
    margin-bottom: 81px;
    font-style: italic;
}

h3 {
    font-size: 32px;
}

.button1 {
    background-color: #2A9D8F;

    padding: 8px 27px;
    color: white;
}

.article1 {
    width: 1440px;
    margin: o auto;
    background-color: white;
    padding: 200px 330px;
}

.div2 {
    width: 780px;
    height: 434px;
}

.text1 {
    display: inline-block;
    vertical-align: top;
    margin-left: 32px;
    margin-top: 62px;
    width: 641.55px;
    height: 120px;

}

.image {
    margin-top: 55px;
    vertical-align: top;
}

.text2 {
    width: 780px;
    height: 170px;
}
.button3 {
    background-color: #2A9D8F;
        width: 130.47px;
        height: 32px;
            color: white;
            margin-top: 23px;
}
.section2 {
    width: 1440px;
    margin: o auto;
    padding: 203px 130px;
}
.section2title {
    margin-left: 490px;
    font-size: 48px;
    color: #4D4D4D;
}
.div3{
    display: inline-block;
    width: 580px;
        height: 278px;
        color: #535353;
        
}
.div4 {
    display: inline-block;
    width: 580px;
        height: 278px;
        margin-top: 57px;
        margin-left: 10px;
        color: #535353;
}
.textsection2{
    margin-top: 15px;
}
footer {
    width: 1440px;
    margin: 0 auto;
    background-color: #2A9D8F;
    padding: 80px 130px;
}
.nav2 {
    display: inline-block;
    vertical-align: top;
    margin-left: 417px;

}
.footerimage {
    vertical-align: top;
    
}

.ul1 {
display: inline-block;

}
.ul2 {
    display: inline-block;
    margin-left: 70px;
    margin-right: 70px;
}
.ul3 {
    display: inline-block;
    width: 250px;
}
.ul {
    vertical-align: top;
    color: white;
    font-size: 20px;
}
.li1 {
    margin-bottom: 20px;
}
.li2 {
    margin-bottom: 8px;
    font-size: 18px;
}